<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperar contraseña</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}" />
  <style>
    .toggle-password {
      position: absolute;
      right: 10px;
      cursor: pointer;
      font-size: 1.2rem;
      color: #fff;
      z-index: 2;
    }
  </style>
</head>
<body>
  
  <div class="contenedor">
    
    <!-- Lado izquierdo (formulario) -->
    <div class="lado-izquierdo">
      <form class="formulario" method="POST">
        <div class="titulo-app">Security corp</div>
        <h2>Restablecer contraseña</h2>
        {% if error %}
          <p style="color: red; text-align: center;">{{ error }}</p>
        {% endif %}

        <div class="campo">
          <img src="{{ url_for('static', filename='iconos/ingeniero.png') }}" alt="user" class="icono">
          <input type="text" placeholder="ID de usuario" name="userId" required />
        </div>

    <div class="campo">
      <img src="{{ url_for('static', filename='iconos/seguro(1).png') }}" alt="user" class="icono">
      <input type="password" placeholder="Nueva contraseña" name="nueva" required id="nuevaPassword" />
      <img src="{{ url_for('static', filename='iconos/ojo(1).png') }}"
          alt="mostrar/ocultar"
          class="toggle-password"
          onclick="togglePassword('nuevaPassword', this)">
    </div>
  
    <div class="campo">
      <img src="{{ url_for('static', filename='iconos//seguro(1).png') }}" alt="user" class="icono">
      <input type="password" placeholder="Confirmar contraseña" name="confirmar" required id="confirmarPassword" />
      <img src="{{ url_for('static', filename='iconos/ojo(1).png') }}"
          alt="mostrar/ocultar"
          class="toggle-password"
          onclick="togglePassword('confirmarPassword', this)">
    </div>


        <button type="submit" class="boton">
          Sign in
        </button>
      </form>
    </div>

    <!-- Lado derecho (imagen) -->
    <div class="lado-derecho"></div>
  </div>

<script>
  function togglePassword(id, iconElement) {
    const input = document.getElementById(id);
    const abierto = "{{ url_for('static', filename='iconos/ojo.png') }}";
    const cerrado = "{{ url_for('static', filename='iconos/ojo(1).png') }}";

    if (input.type === "password") {
      input.type = "text";
      iconElement.src = abierto;
    } else {
      input.type = "password";
      iconElement.src = cerrado;
    }
  }
</script>
</body>
</html>
